/.idea/
/Mohammad_Reza_Ebrahimi_hw5_maktab59/Q1/out/
/Mohammad_Reza_Ebrahimi_hw5_maktab59/Q2/out/
/Mohammad_Reza_Ebrahimi_hw5_maktab59/score/out/
/Mohammad_Reza_Ebrahimi_hw5_maktab59/sharif party/out/
